<div class="day today">
  <div class="day_header">
    <span class="week_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%A") %></span>
    <span class="month"><%= @todays_yoga_classes.first.class_date_time.strftime("%b") %></span>
    <span class="month_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%d") %></span>
  </div>
  <%= render @todays_yoga_classes %>
</div>
