.cover-container
  =image_tag("beach_cover.jpg", class: 'landing-page-image')
  .row.cover-copy
    .columns.small-6.push-3
      .headline
        Because life is too short.  Enjoy your life.  Let me find your yoga teacher.
      .subheadline
        A curated list of yoga classes by a yoga snob.
  =image_tag('arrow-down.png', class: 'arrow-down')
.background-container-mobile
  =image_tag("sirsasana_centered.jpg")
.container
  .row
    .columns.large-6.shadow-overlay.mobile-12
      .row.classes-by-day
        - @weeks_yoga_classes.each do |month, days|
          - days.each do |day, y_classes|
            .columns.small-12.schedule-container
              .date.row
                .pull-left.day=y_classes.first.class_date_time.strftime('%A')
                .pull-right.day #{I18n.t("date.abbr_month_names")[month]} #{day}
              %ol
                - y_classes.each do |yoga_class|
                  %li.class-info
                    .row
                      .columns.small-12
                        .time-info=yoga_class.class_date_time.strftime('%I:%M %p')
                        .teacher-info=yoga_class.teacher.full_name
                        .studio-info=yoga_class.studio.name
                    .row
                      .columns.small-12.mobile-12
                        .teacher-review.hide
                          Giselle Mari has been called the alpha dog of the Bay Area Jivamukti Satsang.  And it is true.  She embodies what Jivamukti has been to me, and was finally the type of teacher I had been looking for.  She is the real deal.  Her classes are filled with Dharma, weaving it through out class, heavily weighted at the beginning and end.  She does not demo, but rather precisely instructs each movement accompanied by the breath.  Her sequencing has themes, well crafted so you feel satisfied even without breaking a sweat.  Every student will be assisted, no matter how crowded, by herself or an assistant.  And finally, her voice is the same one she uses everyday.  No fake, sing-songy voice, just the one she uses everyday.  There’s a real teacher in my eyes.  Someone who is not trying to be a yoga teacher, but just is.

    .columns.large-6.hide-for-mobile
      .triangle
