!!! 5
%html
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"}
    %meta{ :charset => "utf-8" }
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title Yoga in the City
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700", :type => "text/css"}
  %body.main-container
    = yield
