<!DOCTYPE html>
<html>
<head>
  <title>MyYogaPractice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">

  <%= yield %>

  </div>
</body>
</html>
